<hibernate-configuration >
    <session-factory>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ee_web_site?useUnicode=true&amp;createDatabaseIfNotExists=true</property>
        <property name="connection.pool_size">10</property>

        <property name="hbm2ddl.auto">validate</property>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>

        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>

        <mapping class="com.gmail.shelkovich.anton.repository.model.Product"/>
        <mapping class="com.gmail.shelkovich.anton.repository.model.PieceOfNews"/>
        <mapping class="com.gmail.shelkovich.anton.repository.model.Comment"/>
        <mapping class="com.gmail.shelkovich.anton.repository.model.OrderPosition"/>
        <mapping class="com.gmail.shelkovich.anton.repository.model.Order"/>
        <mapping class="com.gmail.shelkovich.anton.repository.model.User"/>
        <mapping class="com.gmail.shelkovich.anton.repository.model.Feedback"/>
    </session-factory>
</hibernate-configuration>